{{define "footer"}}
<footer>
  <r-grid columns="3" columns-s="3" class="compact">
    <hr>
    <r-cell span="row">
        <h4>Starboard CLI</h4>
    </r-cell>
    <r-cell span="row">
        <a href="https://github.com/gzuidhof/starboard-cli">Open Source</a>
    </r-cell>
  </r-grid>
</footer>
{{end}}
