{{define "header"}}
<r-cell span="2" span-s="row">
    <h1>Starboard<br><span style="color: var(--serveBrandColor);">Serve</span></h1>
    <p>
      Serve is used to display and edit local <a href="https://github.com/gzuidhof/starboard-notebook">Starboard Notebook</a> files.
    </p>
</r-cell>
{{end}}