@charset "utf-8";
@font-face {
    font-family: "Inter var";
    font-weight: 200 900;
    font-display: swap;
    src: local("Inter var"), url("/static/fonts/Inter.var.woff2?v=3.15") format("woff2");
}

:root {
    --fontSize: 16px;
    --serveBrandColor: #3a59b7;
}

.breadcrumb-delimiter {
    margin: 0 0.4rem;
}

.full-page-width {
    width: 100vw;
    transform: translateX(calc( -2 * var(--lineHeight)));
}